@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");

:root {
  --header-height: 80px;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}

a {
  text-decoration: none;
  color: black;
}

body,
h1,
h2 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
  user-select: none;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  box-shadow: 0px 0 5px rgba(0, 0, 0, 0.2);
}

.page-logo {
  max-height: 90px;
  max-width: 90px;
  margin-left: 10px;
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding-right: 20px;
  padding-left: 20px;
  height: 100%;
}

.nav-button--normal:hover {
  color: #ed6436;
  border-width: 7px;
  border-bottom: solid #ed6436;
}

.dropdown {
  height: 100%;
  position: relative;
}

.drpd-content {
  display: none;
  position: absolute;
  top: var(--header-height);
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  flex-direction: column;
}

.dropdown:hover .drpd-content {
  display: flex;
  width: fit-content;
}

.dropdown i {
  margin-left: 10px;
}

.drpd-content a {
  height: 40px;
  display: flex;
  align-items: center;
  width: max-content;
  font-weight: 400;
  margin: 5px 15px;
  border-width: 1px;
  border-bottom: solid rgba(0, 0, 0, 0.2);
}

.drpd-content a:hover {
  color: #ed6436;
}

.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  align-items: flex-end;
  margin-top: 125px;
  margin-bottom: 75px;
  z-index: 1;
}

.titles {
  display: flex;
  flex-direction: column;
}

.titles h1 {
  color: #ed6436;
  font-size: 25px;
}

.titles h2 {
  font-size: 50px;
}

.pets-container {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.pet {
  width: 436px;
  height: 527px;
  overflow: hidden;
  border-radius: 40px;
  position: relative;
}

.cover {
  /* display: none; */
  display: flex;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: white;
  transition: 0.4s all;
  background-color: rgba(0, 0, 0, 0.7);
}

.pet:hover .cover {
  /* display: flex; */
  opacity: 1;
}

.cover h2 {
  font-size: 20px;
  font-weight: 400;
}

.cover h3 {
  font-size: 30px;
}

.button {
  border-radius: 0 35px 35px 35px;
  width: fit-content;
  min-width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.2s all;
}

.button--buy-now {
  background-color: white;
  border: 2px solid #ed6436;
  height: 50px;
}

.button--buy-now:hover {
  background-color: #ed6436;
  color: white;
  border-width: 2px solid #ed6436;
}

.button--view-all {
  background-color: #ed6436;
  height: 70px;
  font-size: 25px;
  color: white;
}

.button--view-all:hover {
  background-color: white;
  color: #ed6436;
  border: 2px solid #ed6436;
}
