:root {
  --header-height: 80px;
}

body,
h1,
h2 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  box-shadow: 0px 0 5px rgba(0, 0, 0, 0.2);
}

.page-logo {
  max-height: 90px;
  max-width: 90px;
  margin-left: 10px;
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 100%;
}
.nav-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.dropdown {
  height: 100%;
  position: relative;
}

.drpd-content {
  display: none;
  position: absolute;
  top: var(--header-height);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  gap: 10px;
}

.dropdown:hover .drpd-content {
  display: flex;
}
